{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soluciones en Limpieza profesional, soluciones tecnologicas y asesoria basicas.  </p>
            
        <br>
        <p><b>Teléfono:</b> 72 29 10 99 76</p>
        <p><b>Honorarios:</b> 1100€/h (precio base)</p>
    </div>
</div>
{% endblock %}

